:root {
  --light-gray: #f5f6fa;
  --gray: #fafafa8d;
  --blue: #0290ff;
  --medium-blue: #307bbe;
  --white: #fff;
}

html {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--light-gray);
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}
