:root {
  --light-gray: #f5f6fa;
  --gray: #e8e8e8;
  --blue: #0290ff;
  --medium-blue: #307bbe;
}

html {
  background-color: var(--light-gray);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
